$clr-background: #EFF2F4; /*linear-gradient(to right, #00aaff, #00ff6c);*/

$clr-output-background: rgba(0, 0, 0, .75);
$clr-output-current-font: white;
$clr-output-previous-font: rgba(255, 255, 255, .75);

$clr-buttonface: rgba(255, 255, 255, .5);
$clr-buttonactive: rgba(255, 255, 255, .9);
$clr-buttonborder: 1px solid rgba(0, 0, 0, .1);