@import "colors.scss";

*, *::before, *::after {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    background: $clr-background;
}
  
.calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);

    & > button {
        outline: none;
        cursor: pointer;
        font-size: 2rem;
        border: $clr-buttonborder;
        background-color: $clr-buttonface;
    }

    & > button:hover,
    & > button:focus {
        background-color: $clr-buttonactive;
    }
}
  
.span-two {
      grid-column: span 2;
}

.output {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    padding: .75rem;
    grid-column: 1 / -1;
    word-wrap: break-word;
    word-break: break-all;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    background-color: $clr-output-background;
    
    .previous-operand {
        font-size: 1.5rem;
        color: $clr-output-previous-font;
    }
    
    .current-operand {
        color: $clr-output-current-font;
        font-size: 2.5rem;
    }
}